page-login {
  /*  ion-navbar{
      background-image: url('../assets/img/bg.jpg');
      background-size:100% auto;
    }*/
    .background{
      background:url('../assets/background-fifa2018.png');
      background-color: red;
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .item{
      margin-bottom: 5px;
    }

    ion-card.card{
    //  margin-top: 50px;
      background: rgba(255, 255, 255, 0.7);
    }
    .logo{

      margin-bottom: 1%;
    }
    .toolbar {
        .toolbar-background {
          background: transparent !important;
        }
      }

    .titulo{
      color: white;
      font-weight: 400;
    }

    .title-segment{
      color: #fff;
      font-size: 1em;
    }
    .title-forgot{
      color: #fff;
    }

    .bg-transparent{
      background: transparent !important;
    }

    .errorstyle{
      border-bottom: 2px solid red;
    }

    .list-md .item-block .item-inner{
      border:none;
    }

    .login-style{
      margin-top:20%;
    }

    .item-md{
      background-color: transparent;
      color:#fff;
      border:none;
    }

    .text-input::-moz-placeholder {
      color: white;
    }

    .text-input:-ms-input-placeholder {
      color: white;
    }

    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: white;
    }

    .segment-md .segment-button{
      text-transform: capitalize;
    }

    .button-md{
      text-transform: capitalize;
    }
  }
