page-buscargrupo {
  .background{
    background:url('../assets/background-fifa2018.png');
    background-color: red;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .item .item-md .list-header .list-header-md
  {
  	background-color: transparent !important;
    color:#fff;
  }

}
