<!--
  Generated template for the PosicionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rojo">
    <ion-title>Posiciones</ion-title>
    <ion-buttons end>
         <button ion-button icon-only
                  [navPush]="MenuOpciones">
            <ion-icon name="more"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding  class="background">
  <ion-list >
    <ion-item>
     <ion-label color="blanco">Grupos vinculados</ion-label>

     <ion-select [(ngModel)]="selectedGroup" (ionChange)="groupChange($event)">
       <ion-option *ngFor="let Group of User.Groups">
         {{ Group.Name }}
       </ion-option>
     </ion-select>

   </ion-item>

  <ion-item *ngFor="let UserPlayer of CurrentUsersPlayers">
    <ion-note item-start>
       <h4>{{1}}</h4>
    </ion-note>
    <button ion-button clear item-start class="plata"><ion-icon name='trophy'></ion-icon></button>
    <h2>{{UserPlayer.Alias}}</h2>
    <ion-note item-end>
       {{UserPlayer.Score}}
    </ion-note>
    <button ion-button clear item-end [navPush]="QuinielaGrupo">  <ion-icon name="clipboard"></ion-icon></button>
  </ion-item>
</ion-list>

</ion-content>
